<a href="https://colab.research.google.com/github/ayesha259/Pyrhon-Assignment/blob/main/python_class3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

:module:os

In [ ]:
import os
current_dir = os.getcwd()
print("current Directory:",current_dir)
print("Files Directory:",os.listdir())

print(os.path.exists("demo"))

current Directory: /content
Files Directory: ['.config', 'sample_data']
False

In [ ]:
from datetime import datetime, timedelta

now = datetime.now()
print("Current date and time:", now)

formatted_date = now.strftime("%Y-%m-%d %H:%S")
print("Formatted date and time:", formatted_date)

manufacture_date = datetime.strptime(formatted_date, "%Y-%m-%d %H:%S")
print("Manufacture date:", manufacture_date)

future_date = now + timedelta(days=5)
print("Date after 5 days:", future_date)
print(type(formatted_date))
print(type(now))
print(type(manufacture_date))

Current date and time: 2026-02-03 07:14:12.907139
Formatted date and time: 2026-02-03 07:12
Manufacture date: 2026-02-03 07:00:12
Date after 5 days: 2026-02-08 07:14:12.907139
<class 'str'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>

In [ ]:
import time
start_time = time.time()
time.sleep(5)
end_time = time.time()
print("Execution time:", end_time - start_time, "seconds")

Execution time: 5.000451564788818 seconds

In [ ]:
from datetime import datetime, timedelta
manufacture_input = input("Enter manufacture date (YYYY-MM-DD): ")
validity_days = int(input("Enter validity period (in days): "))
manufacture_date = datetime.strptime(manufacture_input, "%Y-%m-%d")
expiry_date = manufacture_date + timedelta(days=validity_days)
today = datetime.now()
print("PRODUCT EXPIRY Date")
print("Expiry Date:", expiry_date)
print(type(manufacture_date))
print(type(expiry_date))
print(type(today))

Enter manufacture date (YYYY-MM-DD): 2020-09-3
Enter validity period (in days): 78
PRODUCT EXPIRY Date
Expiry Date: 2020-11-20 00:00:00
<class 'datetime.datetime'>
<class 'datetime.datetime'>
<class 'datetime.datetime'>

In [ ]:
import time
number = int(input("enter a number n : "))

start_time = time.time()
sum_of_square = number * (number + 1) * (2 * number + 1) / 6
print("sum of numbers",sum_of_square)

end_time = time.time()
Execution_time = end_time - start_time
print("Execution time:", Execution_time, "seconds")

time_in_millisecond = Execution_time * 1000
print("Execution time in milliseconds:", time_in_millisecond, "milliseconds")

enter a number n : 12
sum of numbers 650.0
Execution time: 0.00024700164794921875 seconds
Execution time in milliseconds: 0.24700164794921875 milliseconds

In [ ]:
import random
import time
amount = int(input("Enter the amount to send: "))

otp = random.randint(100000, 999999)

print("Your OTP is:", otp)

start_time = time.time()
user_entered_otp = input("Enter OTP in 10 seconds: ")
end_time = time.time()

time_taken = end_time - start_time

if time_taken <= 10:
    if user_entered_otp.isdigit() and int(user_entered_otp) == otp:
        print("Amount sent:", amount)
    else:
        print("Expired OTP")

Enter the amount to send: 756
Your OTP is: 643152
Enter OTP in 10 seconds: 643152
Amount sent: 756

LIST

In [ ]:
print([])
print([1,2,3,4,5])
print([1,2,3,[4,5]])
print([[1,2],[3,4],[4,5]])
print([55,True,"yes",9.65])
print(list("pythoniseasy"))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[1, 2], [3, 4], [4, 5]]
[55, True, 'yes', 9.65]
['p', 'y', 't', 'h', 'o', 'n', 'i', 's', 'e', 'a', 's', 'y']

In [ ]:
list = []
list.append(1)
print(list)
list.append([2,3,4,5])
print(list)
list.append(6)
print(list)

[1]
[1, [2, 3, 4, 5]]
[1, [2, 3, 4, 5], 6]

Grocery Stock Tracker:
      available_stock = ["apple", "milk", "bread", "eggs", "rice", "butter"]
      Tasks:
          Add "flour" and "sugar" at the end.
          Replace "bread" with "brown bread".
          Remove "milk" and print the updated list.
          Display only the middle 3 items using slicing.

In [ ]:
available_stock = ["apple", "milk", "bread", "eggs", "rice", "butter"]
available_stock.extend(["flour","sugar"])
print(available_stock)
available_stock[2] = "brown bread"
available_stock.remove("milk")
print(available_stock)
print(available_stock[2:5])

['apple', 'milk', 'bread', 'eggs', 'rice', 'butter', 'flour', 'sugar']
['apple', 'brown bread', 'eggs', 'rice', 'butter', 'flour', 'sugar']
['eggs', 'rice', 'butter']

Grocery Stock Tracker:
      ticket_prices = [250, 300, 200, 400, 150]
      Tasks:
           Find the highest and lowest ticket price.
           Sort the list in descending order.
           Add a new ticket price 350 while keeping the list sorted.
           Display only the top 3 expensive tickets

In [ ]:
ticket_prices = [250, 300, 200, 400, 150]
print(max(ticket_prices))
print(min(ticket_prices))
ticket_prices.sort(reverse=True)
print(ticket_prices)
ticket_prices.append(350)
print(ticket_prices)
ticket_prices.sort(reverse=True)
print(ticket_prices[:3])

400
150
[400, 300, 250, 200, 150]
[400, 300, 250, 200, 150, 350]
[400, 350, 300]

Playlist Management:
     You have to create a music playlist.
             Make a list of 5 songs.
             Swap the first and last song to change the playlist order.
             Add a new favorite song in the middle.
             Print all songs except the first and last

In [ ]:
playlist = ["Song A", "Song B", "Song C", "Song D", "Song E"]
playlist[0], playlist[-1] = playlist[-1], playlist[0]
print(playlist)
playlist.insert(len(playlist)//2, "song F")
print(playlist)
print(playlist[1:-1])

['Song E', 'Song B', 'Song C', 'Song D', 'Song A']
['Song E', 'Song B', 'song F', 'Song C', 'Song D', 'Song A']
['Song B', 'song F', 'Song C', 'Song D']

Product Prices:
      You have prices of 6 products in your shop.
            Create a list of product prices.
            Increase the price of two products due to tax (1% tax /product).
            Remove the lowest-priced product.
            Calculate the total price of the remaining products

In [ ]:
prices = [100, 200, 150, 250, 300, 180]
print(prices)
prices[0] *= 1.01
prices[1] *= 1.01
print(prices)
prices.remove(min(prices))
print(prices)
total_price = sum(prices)
print(total_price)

[100, 200, 150, 250, 300, 180]
[101.0, 202.0, 150, 250, 300, 180]
[202.0, 150, 250, 300, 180]
1082.0

In [ ]:
L = [1,2,3,4,5]
L.extend([8])
print(L)

[1, 2, 3, 4, 5, 8]

In [ ]:
L = [5,3,7,4,8,2]
print(sorted(L))
L.sort()
print(L)

[2, 3, 4, 5, 7, 8]
[2, 3, 4, 5, 7, 8]

Tuples

apartment details : an apartment listing is stored as a tuple: apartment = (downtown ,3,2,45000,available) extract and print the location and rent change the status to rented without modifying the original tuple python code

In [ ]:
apartment = ("Downtown", 3, 2, 45000, "available")

location = apartment[0]
rent = apartment[3]

print("Location:", location)
print("Rent:", rent)

updated_apartment = apartment[:4] + ("rented",)

print("Original apartment tuple:", apartment)
print("Updated apartment tuple:", updated_apartment)

Location: Downtown
Rent: 45000
Original apartment tuple: ('Downtown', 3, 2, 45000, 'available')
Updated apartment tuple: ('Downtown', 3, 2, 45000, 'rented')

employee payroll record : pyroll system keeps a tuple :(employee_id, name , base_salary, month, net_pay) .
design data for multiple employees and print the one with the highest salary for a given month.
 note : atleast 3 employees records must be created

In [ ]:
employees = (
    (101, "Ali", 50000, "January", 48000),
    (102, "Danish", 55000, "January", 52000),
    (103, "Sara", 60000, "February", 58000),
    (104, "Zara", 53000, "January", 51000)
)

search_month = input("Enter month to check highest salary: ")

highest_paid = None

for emp in employees:
    if emp[3] == search_month:
        if highest_paid is None or emp[4] > highest_paid[4]:
            highest_paid = emp

if highest_paid:
    print("\nEmployee with highest salary in", search_month)
    print("ID:", highest_paid[0])
    print("Name:", highest_paid[1])
    print("Net Pay:", highest_paid[4])
else:
    print("No payroll records found for this month.")

Enter month to check highest salary: January

Employee with highest salary in January
ID: 102
Name: Danish
Net Pay: 52000