<a href="https://colab.research.google.com/github/ayesha259/Pyrhon-Assignment/blob/main/python_class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program to print “Python is Fun!” using a single print() statement.

In [ ]:
print("Python is Fun!")

Python is Fun!

Print your name and age in a single line output.

In [ ]:
print("Name: Ayesha, Age: 20")

Name: Ayesha, Age: 20

Print the numbers 1, 2, 3, 4 separated by a Hash(#) using the sep parameter.

In [ ]:
print(1, 2, 3, 4, sep="#")

1#2#3#4

Use the end parameter to print "Hello" and "World" on the same line with a space in
between.

In [ ]:
print("Hello", end=" ")
print("World")

Hello World

Print “Learning-Python-is-easy!” using sep and end parameters.

In [ ]:
print("Learning", "Python", "is", "easy", sep="-", end="!")

Learning-Python-is-easy!

Print the numbers 10, 20, 30 separated by a comma and a space (", "), and ensure the next
print statement starts on the same line

In [ ]:
print(10, 20, 30, sep=", ")

10, 20, 30

Write a program that prints your name, age and city on the same line, each separated by
the word "and"

In [ ]:
print("Name: Ayesha", "Age: 20", "City: Karachi", sep=" and ")

Name: Ayesha and Age: 20 and City: Karachi

Use the print() function to output the following without using multiple print statements:
Welcome to Python.
Let's learn together.

In [ ]:
print("Welcome to Python.\nLet's learn together.")

Welcome to Python.
Let's learn together.

What will be the output of the following code:
       a = 5
       a = 2.5
       print(a)
       print(type(a))

In [ ]:
a = 5
a = 2.5
print(a)
print(type(a))

2.5
<class 'float'>

What will be the output of the following code:
      value = "False"
      print(type(value))

In [ ]:
value = "False"
print(type(value))

<class 'str'>

What will be the data type of the value returned by input() and output of the following code?
      age = input("Enter your age: ")
      print(age + 5)

In [ ]:
age = int(input("Enter your age: "))
print(age + 5)

Enter your age: 30
35

Ask the user to enter two numbers.
      Swap those and print

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
a, b = b, a
print("After swapping:")
print(a)
print(b)

Enter first number: 2
Enter second number: 4
After swapping:
4
2

Create variables name and city with your name and city as values. Print both variables in a
single line.

In [ ]:
name = "Ayesha"
city = "Karachi"

print(name, city)

Ayesha Karachi

Start with x = 5. Reassign x to 10. Print the final value of x.

In [ ]:
x = 5
x = 10
print(x)

10

Which of these variable names are valid in Python: my_var, 123_var, myVar1, your var? Use
all these variables and show output.

In [ ]:
my_var = "Hello"
myVar1 = "World"

print(my_var)
print(myVar1)

Hello
World

Swap two variables a = 10 and b = 5 without using a third variable

In [ ]:
a = 10
b = 5
a, b = b, a
print("a =", a)
print("b =", b)

a = 5
b = 10

Concatenate strings stored in two different variables first_name and second_name and print
result.

In [ ]:
first_name = "Ayesha"
second_name = "Kanwal"

full_name = first_name + " " + second_name
print(full_name)

Ayesha Kanwal

Use f-strings to print your bio and input function must be used.

In [ ]:
name = input("Enter your name: ")
age = input("Enter your age: ")
city = input("Enter your city: ")
print(f"My name is {name}, I am {age} years old, and I live in {city}.")

Enter your name: ayesha
Enter your age: 20
Enter your city: karachi
My name is ayesha, I am 20 years old, and I live in karachi.

Ask the user for their name, age, and city, then print a formatted sentence using format
method.

In [ ]:
name = input("Enter your name: ")
age = input("Enter your age: ")
city = input("Enter your city: ")
print("My name is {}, I am {} years old, and I live in {}.".format(name, age, city))

Enter your name: ayesha
Enter your age: 20
Enter your city: karachi
My name is ayesha, I am 20 years old, and I live in karachi.

Take input from user as product & cost then print output in following manner:
The Laptop costs $1200.

In [ ]:
product = input("Enter the product name: ")
cost = input("Enter the cost: ")

print(f"The {product} costs ${cost}.")

Enter the product name: laptop
Enter the cost: $2100
The laptop costs $$2100.

Print your full name, age, and city in the following format:
Name: John | Age: 25 | City: New York

In [ ]:
name = "John"
age = 25
city = "New York"

print(f"Name: {name} | Age: {age} | City: {city}")

Name: John | Age: 25 | City: New York

Write a program to print a countdown from 5 to 1, all on the same line, separated by
spaces.

In [ ]:
print(5, 4, 3, 2, 1)

5 4 3 2 1

Write a program to take user’s email address using input function.

In [ ]:
email = input("Enter your email address: ")
print("Your email address is:", email)

Enter your email address: ayesha@gamil.com
Your email address is: ayesha@gamil.com

Print the names of five programming languages separated by (->) :
Using single print statement
Using multiple print statement

In [ ]:
print("Python", "Java", "C++", "JavaScript", "Ruby", sep="->")

Python->Java->C++->JavaScript->Ruby

In [ ]:
print("Python", end="->")
print("Java", end="->")
print("C++", end="->")
print("JavaScript", end="->")
print("Ruby")

Python->Java->C++->JavaScript->Ruby

Print 1, 2, 3, 4, 5] using single print statement.

In [ ]:
print(1, end=", ")
print(2, end=", ")
print(3, end=", ")
print(4, end=", ")
print(5, end="]")

1, 2, 3, 4, 5]

We have four variables a = 5, b = 10, c = 3 and d = 6 swap the values of variable a & b and c
& d.

In [ ]:
a = 5
b = 10
c = 3
d = 6
print("Before swapping:")
print("a =", a, "b =", b)
print("c =", c, "d =", d)
a, b = b, a
c, d = d, c
print("After swapping:")
print("a =", a, "b =", b)
print("c =", c, "d =", d)

Before swapping:
a = 5 b = 10
c = 3 d = 6
After swapping:
a = 10 b = 5
c = 6 d = 3

Ask the user for their name, age, and city and print the sentence in reverse order using
.format()
expected output: Lahore is where I live. 22 is my age. My name is Ali.

In [ ]:
name = input("Enter your name: ")
age = input("Enter your age: ")
city = input("Enter your city: ")
print("{} is where I live. {} is my age. My name is {}.".format(city, age, name))

Enter your name: ayesha
Enter your age: 20
Enter your city: karachi
karachi is where I live. 20 is my age. My name is ayesha.

Ask the user to input product and its price then generate a receipt using f-string:
expected output

In [ ]:
product = input("Enter the product name: ")
price = float(input("Enter the price of the product: "))
print("===== RECEIPT =====")
print(f"Product: {product}")
print(f"Price: ${price:.2f}")

Enter the product name: we
Enter the price of the product: 43
===== RECEIPT =====
Product: we
Price: $43.00