<a href="https://colab.research.google.com/github/ayesha259/Python-Assignment/blob/main/python_class_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Use a for loop to print all numbers divisible by 7 from 1 to 100.

In [1]:
for number in range(1, 101):
    if number % 7 == 0:
        print(number)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

Calculate and print the sum of even numbers using a for loop from 1 to 50

In [2]:
total = 0
for number in range(1, 51):
    if number % 2 == 0:
        total += number

print("Sum of even numbers from 1 to 50 is:", total)

Sum of even numbers from 1 to 50 is: 650

Ask the user for a password in a while loop. Allow 3 tries, and if the correct password is
entered, print "Access granted", otherwise print "Blocked"

In [4]:
correct_password = "1234"
attempts = 0

while attempts < 3:
    password = input("Enter password: ")

    if password == correct_password:
        print("Access granted")
        break
    else:
        attempts += 1
        print("Wrong password")

if attempts == 3 and password != correct_password:
    print("Blocked")

Enter password: 1234
Access granted

Create a countdown from 10 to 1 using a while loop. Use break if it reaches 5 and print
"Midpoint reached"

In [5]:
number = 10
while number >= 1:
    print(number)
    if number == 5:
        print("Midpoint reached")
        break

    number -= 1

10
9
8
7
6
5
Midpoint reached

From 1 to 500, use a loop to find the first number divisible by both 13 and 7. Use break

In [6]:
for number in range(1, 501):
    if number % 13 == 0 and number % 7 == 0:
        print("First number divisible by both 13 and 7 is:", number)
        break

First number divisible by both 13 and 7 is: 91

From a list of words, create a dictionary where key is the word and value is the length, but
only for words longer than 4 letters.

In [7]:
words = ["apple", "cheery", "banana", "horse", "tiger", "moon"]

word_lengths = {}

for word in words:
    if len(word) > 4:
        word_lengths[word] = len(word)

print(word_lengths)

{'apple': 5, 'cheery': 6, 'banana': 6, 'horse': 5, 'tiger': 5}

Given a string, build a dictionary using comprehension where the keys are characters and
values are their frequency in the string.

In [8]:
text = "Learning Python"
char_frequency = {char: text.count(char) for char in text}
print(char_frequency)

{'L': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 3, 'i': 1, 'g': 1, ' ': 1, 'P': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

Create a list from 100 to 150 using list comprehension where prime numbers stay as-is, and
non-primes become "Not Prime".

In [11]:
result = []

for num in range(100, 151):
    is_prime = True

    if num < 2:
        is_prime = False
    else:
        for i in range(2, num):
            if num % i == 0:
                is_prime = False
                break

    if is_prime:
        result.append(num)
    else:
        result.append("Not Prime")

print(result)

['Not Prime', 101, 'Not Prime', 103, 'Not Prime', 'Not Prime', 'Not Prime', 107, 'Not Prime', 109, 'Not Prime', 'Not Prime', 'Not Prime', 113, 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 127, 'Not Prime', 'Not Prime', 'Not Prime', 131, 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 137, 'Not Prime', 139, 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 'Not Prime', 149, 'Not Prime']

List Categorizer
Given a list of integers:
l = list(range(1,21))
Separate them into 3 lists:
Even
Odd
Multiples of 5
Print all 3 lists at the end

In [12]:
l = list(range(1, 21))
even = []
odd = []
multiples_of_5 = []
for num in l:
    if num % 2 == 0:
        even.append(num)
    else:
        odd.append(num)

    if num % 5 == 0:
        multiples_of_5.append(num)

print("Even:", even)
print("Odd:", odd)
print("Multiples of 5:", multiples_of_5)

Even: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Odd: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Multiples of 5: [5, 10, 15, 20]

FizzBuzz Dictionatry
Make a dictionary for numbers 1 to 30 with:
"Fizz" if divisible by 3
"Buzz" if divisible by 5
"FizzBuzz" if divisible by both
"None" otherwise

In [14]:
fizzbuzz_dict = {
    num: ("FizzBuzz" if num % 3 == 0 and num % 5 == 0
          else "Fizz" if num % 3 == 0
          else "Buzz" if num % 5 == 0
          else "None")
    for num in range(1, 31)
}

print(fizzbuzz_dict)

{1: 'None', 2: 'None', 3: 'Fizz', 4: 'None', 5: 'Buzz', 6: 'Fizz', 7: 'None', 8: 'None', 9: 'Fizz', 10: 'Buzz', 11: 'None', 12: 'Fizz', 13: 'None', 14: 'None', 15: 'FizzBuzz', 16: 'None', 17: 'None', 18: 'Fizz', 19: 'None', 20: 'Buzz', 21: 'Fizz', 22: 'None', 23: 'None', 24: 'Fizz', 25: 'Buzz', 26: 'None', 27: 'Fizz', 28: 'None', 29: 'None', 30: 'FizzBuzz'}